
@model SistemaWebRecetas.Models.Receta

@{
    ViewData["Title"] = $"{Model.Titulo}";
}
@section SideBar{
        <div>
        @Html.ActionLink("Crear una Receta", "Create","Receta")
        @Html.ActionLink("Volver al inicio", "Index", "Home")
        @Html.ActionLink("Volver a recetas", "Index", "Receta")
        </div>
}


    <div>

        <h1>
        @Html.DisplayFor(model=>model.Titulo)
        </h1>

        <p>

        @Html.DisplayNameFor(model=>model.Categoria):
        @Html.DisplayFor(model=>model.Categoria)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Ingredientes):
        @Html.DisplayFor(model=>model.Ingredientes)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Instrucciones):
        @Html.DisplayFor(model=>model.Instrucciones)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Autor):
        @Html.DisplayFor(model=>model.Autor)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Apellido):
        @Html.DisplayFor(model=>model.Apellido)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Edad):
        @Html.DisplayFor(model=>model.Edad)

        </p>
        <p>

        @Html.DisplayNameFor(model=>model.Email):
        @Html.DisplayFor(model=>model.Email)

        </p>
    

    @Html.ActionLink("Volver a la lista de recetas", "Index")

    </div>
